:root {
    --verde: #228B22;
    --laranja: #FF914D;
    --branco: #FFF;
    --cinza-claro: #F2F2F2;
    --laranja-claro: #FFE4B5;
    --fonte-principal: 'Chewy', cursive;
}

h5.fraseAcao {
    text-align: center;
    color: var(--laranja);
    font-size: 1.8rem;
    font-family: var(--fonte-principal);
    margin: 2rem;
}

.botaoAcaoContainer p {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}


.botaoAcaoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--verde);
    margin-bottom: 2rem;
    border-radius: 16px;
    background-color: var(--laranja-claro);
}

iframe {
    padding: 1rem;
}

#artigo1 {
    border: 2px solid var(--verde);
    border-radius: 16px;
    background-color: var(--branco);
    padding: 1rem;
}

#artigo1 header h1 {
    margin-top: 2rem;
    font-size: 2.8rem;
}

#artigo1 header p {
    margin-top: 2rem;
}

#impactoAlimentacao p {
    margin: 1rem 0;
}

#impactoAlimentacao h2 {
    margin: 2rem 0;
    text-align: center;
    color: #228B22;
    font-size: 2rem;
    line-height: 35px;
}

.img2Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.materiaAlimentacaoSaudavelimg2 {
    width: 500px;
    
}

#impactoAlimentacao li {
    margin: .5rem 0;
}

.impactoAlimentacaoContainer {

    border-radius: 16px;
    padding: 1rem;
    margin: 2rem auto;
}

.impactoAlimentacaoContainer span {
    font-weight: 700;
    font-size: 1.2rem;
}

.referenciasEstudos {
    display: flex;
    width: 500px;
    flex-direction: column;
    background-color: var(--verde);
    border-radius: 16px;
    padding: 1rem;
    margin: 0 auto;
}

.referenciasEstudos a {
    color: var(--branco);

}

.referenciasEstudos div span {
    color: var(--branco);
    font-weight: 400;
}

.referenciasEstudos p {
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 700;
}

.referenciasEstudos h3 {
    font-size: 1.5rem;
    color: #FFF;
    text-align: center;
    margin: 1rem 0;
}

#tituloVideo {
    font-size: 1.8rem;
    color: #228B22;
    text-align: center;
    font-weight: 700;
    margin: 1rem 0;
}