@media print {
    .anunciosPropagandasIpad img, div.posicaoFixa, #formularioCalorias, #cabecalho, #sidebar, #video, .pagination, .stats, .info, section#calorias, #receitasInfos, #receitasNutricional, #secaoRecomendados, #rodape {
      display: none;
    }

    div#content.indexContainer {
      margin-left: 0;
    }

    #anunciosPropagandas {
      display: none;
    }

    .propagandaMenu {
      display: none;
    }
    
    .audio-player, div.anunciosPropagandasIpad {
      display: none;
    }

    
  }
  