@media print {
    #cabecalho, #sidebar, #video, .pagination, .stats, .info, #calorias, #receitasInfos, #receitasNutricional, #secaoRecomendados, #rodape {
      display: none;
    }

    div#content.indexContainer {
      margin-left: 0;
    }

    #anunciosPropagandas {
      display: none;
    }

    .propagandaMenu {
      display: none;
    }
  }
  