#receitasInfos {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 1.5rem;
}

#receitasInfos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#receitasTitulo {
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 2.2rem;
    padding: .5rem;
    background-color: #228B22;
    color: #FFF;
}

#receitasInfos div p {
    color: #228B22;
    font-weight: 700;
    width: 100px;
    text-align: center;
}

.restricoesWrapper {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #FF914D;
    color: #FFF;
    font-size: 25px;
   
}

.tabelanutricional {
    border-collapse: collapse;    
    margin: 1rem 0 0 0;
    font-family: Arial, sans-serif;
    color: #228B22;
    background-color: #FFF;
}

.tabelanutricional th,
.tabelanutricional td {
    text-align: left;
    padding: 10px;

}

.tabelanutricional th {
    background-color: #FF914D;
    color: #FFF;
}

.rodapeContainer #rodape {
    margin: 3rem 0 0 0;
}

@media screen and (min-width: 1500px) {}

@media screen and (min-width: 737px) {}

@media screen and (min-width: 737px) and (max-width: 1200px) {}

@media screen and (min-width: 737px) and (max-width: 1000px) {}

@media screen and (max-width: 736px) {}

@media screen and (min-width: 737px) {}

/* Laptop */
@media screen and (min-width: 1201px) and (max-width: 1460px) {}

/* Wide */
@media screen and (min-width: 1201px) {}

/* Narrow */
@media screen and (min-width: 737px) and (max-width: 1200px) {}

/* Narrower */
@media screen and (min-width: 737px) and (max-width: 1000px) {}

/*Mobile Menores*/
@media screen and (min-width: 320px) and (max-width: 735px) {}

/* Mobile */
@media screen and (max-width: 736px) {}

/* Off-Canvas Sidebar */
@media screen and (max-width: 1000px) {}