#recomendados{
display: flex;
align-items: center;
justify-content: space-around;
margin: 1.5rem 0;
}

.recomendadosCard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    border: none;
    width: 200px;
    padding: 1rem;   
    text-align: center;
    background-image: url(../images/bg01.png);
}

.recomendadosCard img {
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recomendadosCard a {
    color: #228B22;
    text-decoration: none;
    font-weight: 700;
}

#secaoRecomendados h3 {
    padding: 1rem;
    width: 100%;
    background-color: #228B22;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    font-size: 1.5rem;
}

@media screen and (min-width: 1500px) {}

@media screen and (min-width: 737px) {}

@media screen and (min-width: 737px) and (max-width: 1200px) {}

@media screen and (min-width: 737px) and (max-width: 1000px) {}

@media screen and (max-width: 736px) {}

@media screen and (min-width: 737px) {}

/* Laptop */
@media screen and (min-width: 1201px) and (max-width: 1460px) {}

/* Wide */
@media screen and (min-width: 1201px) {}

/* Narrow */
@media screen and (min-width: 737px) and (max-width: 1200px) {}

/* Narrower */
@media screen and (min-width: 737px) and (max-width: 1000px) {}

/*Mobile Menores*/
@media screen and (min-width: 320px) and (max-width: 735px) {}

/* Mobile */
@media screen and (max-width: 736px) {}

/* Off-Canvas Sidebar */
@media screen and (max-width: 1000px) {}