#rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #228B22;
    padding: 1rem;
}

#rodape a, #rodape  p {
    color: #FFF;
    text-decoration: none;
}   

#rodape div ul {
    list-style: none;
}

#rodape h3 {
    color: #FF914D;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
}

#contato {
    margin: 0 auto;
    width: 50%;
}

#contato form {
    width: 100%;
}

#contato form label {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-weight: 700;
}

#contato form label input,
#contato form label textarea {
    border: none;
}

#contato h3 {
    text-align: center;
}

#rodapeCategorias ul li:nth-of-type(11) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.rodapeContainer {
    display: flex;
    justify-content: space-around;
}

#redesSociais div {
    display: flex;
    gap: 1.5rem;
}

.redesSociasCel {
    display: none;
}

#contato button {
    background-color: #FF914D;
    color: #FFF;
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 736px) {
    #e-bookGratis a.botaoBaixarGratis {
        position: static;
    }

    #caloriasFullPage form#formularioCalorias, div#imcCel {
        width: 100%;
    }
    
    .image img {
        height: 100%;
    }

    .rodapeContainer {
        justify-content: center;
        gap: 3rem;
    }

    #contato button {
        padding: .5rem;
    }

    #rodape .rodapeTituloCel {
        display: block;
    }

    .rodapeTituloDesktop {
        display: none;
    }

    #rodape li h3 {
        font-size: 1rem;
    }

    li.redesSociasCel {
        gap: 1rem;
    }

    #paginas.box.post {
        padding: 0;
    }

    #paginas .pagination {
        padding: 1rem 0 .5rem 0;
    }

    #redesSociais {
        display: none;
    }

    .redesSociasCel {
        display: flex;
        gap: 1.7rem;
    }

    #contato {
        margin: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1500px) {}

@media screen and (min-width: 737px) {}

@media screen and (min-width: 737px) and (max-width: 1200px) {}

@media screen and (min-width: 737px) and (max-width: 1000px) {}

@media screen and (min-width: 737px) {}

/* Laptop */
@media screen and (min-width: 1201px) and (max-width: 1460px) {}

/* Wide */
@media screen and (min-width: 1201px) {}

/* Narrow */
@media screen and (min-width: 737px) and (max-width: 1200px) {}

/* Narrower */
@media screen and (min-width: 737px) and (max-width: 1000px) {}

/*Mobile Menores*/
@media screen and (min-width: 320px) and (max-width: 735px) {}

/* Mobile */
@media screen and (max-width: 736px) {}

/* Off-Canvas Sidebar */
@media screen and (max-width: 1000px) {}