@import url(rodape.css);
@import url(cabecalho.css);
@import url(recomendados.css);
@import url(receitasInfos.css);
@import url(mediterranea-vendas.css);
@import url(imprimir.css);
@import url(e-book-gratis.css);
@import url(fontawesome-all.min.css);
@import url(todas-receitas.css);
@import url(anuncie.css);

#vantagensCel {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#vantagensCel img {
    width: 250px;
    height: 200px;
}

#garantia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem .5rem;
}

#garantia img {
    width: 350px;
    height: 300px;
    
}

#garantia p {        
    color: #228B22;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

#sobreNos h1 {
    font-size: 3rem;
    color: #FF914D;
    text-align: center;
    margin: 2rem 0;
}

#sobreNos .e-booksCapas div p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#sobreNos .e-booksCapas div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sobreNos .e-booksCapas div img {
    width: 250px;
    height: 300px;
}

#sobreNos .e-booksCapas {
    align-items: center;
    justify-content: center;
}

.receita header h1 {
    color: #FF914D;
    font-size: 3.5rem;
    margin-top: 4rem;
}

#homeIntroducao h1#tituloIndex {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 3rem;
    color: #228B22;
    font-weight: 700;
}

#homeIntroducaoOutras h1{
    text-align: center;
    font-size: 3rem;
    color: #228B22;
    font-weight: 700;
    margin: 6rem 0;
}

#homeIntroducao p {
    font-size: 20px;
    margin-bottom: 2rem;
}

.month span {
    display: none;
}

#receitasNutricional p:last-child {
    margin-bottom: 3rem;

}

.receitasArtigos h2 {
    font-size: 2.5rem;
    line-height: 40px;
}

.receita header h2 {
    font-size: 2.5rem;
}

#botaoTopoWrapper {
    position: absolute;
    right: 0;
}

#iconeTopo {
    margin-top: .35rem;
}

.pagination {
    padding: 1rem;
    bottom: 10px;
}

.indexPostImagem {
    height: 330px;
}

.anteriorWrapper,
.proximaWrapper,
.paginasBotoes {
    display: flex;
    align-items: center;
    gap: .2rem;
    color: #228B22;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;

}

#paginas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#paginas p {
    color: black;
    font-weight: 700;
}

.stats {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: .15rem;
}

#imcVisor,
#calculadoraVisor {
    width: 200px;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    background-color: #ddd;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 1rem auto;
    opacity: .6;
    font-weight: 700;
}

.paginasBotoes button {
    cursor: pointer;
}

#content .inner:first-child {
    width: 800px;
}

#saibaMais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    color: #228B22;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid black;
}

#saibaMais p {
    margin: .5rem 0;
}

#saibaMais i {
    margin-top: .2rem;
}

.capaIpad {
    display: none;
}

#calorias form {
    background-color: #FF914D;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #333;
    color: #333;
    font-size: 16px;
    text-align: left;
    background-image: url("../images/bg01.png");
}

#calorias form input[type="submit"],
#imc form input[type="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #228b22;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}

#imc,
#calorias {
    margin-top: .5rem;
}

#calorias label {
    color: #FFF;
}

#calorias #formularioCalorias p select {
    border: none;
    padding: .1rem .2rem;
    width: 184px;
}

#calorias input {
    border: none;
}

#calorias h2,
#imc h2 {
    margin-bottom: .5rem;
    margin-left: .5rem;
    color: #FFF;
    font-weight: 700;
    border-bottom: 1px solid #FFF;
    text-align: center;
}

#formularioNovasDietas form {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: .5rem;
}

#formularioNovasDietas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#formularioNovasDietas h1 {
    font-size: 3rem;
    color: black;
}

#novasDietasInfos p {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    color: black;
}

#formularioNovasDietas label input {
    border: 1px solid #228B22;
}

#formularioNovasDietas label {
    color: #228B22;
}

#formularioNovasDietas button {
    background-color: #228B22;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 4px;
}

#logo {
    font-size: 1rem !important;
}

#agradecimento h1 {
    line-height: 40px;
}

.imprimir {
    display: none;
}

#calorias #formularioCalorias select {
    width: 100%;
}

#icones a i {
    font-size: 20px;
    color: #FFF;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mediterranea h1 {
    font-size: 3rem;
    color: black;
    font-weight: 700;
}

#formularioContrucao label {
    display: flex;
    flex-direction: column;
}

#formularioContrucao button {
    max-width: 200px;
    margin: 1rem auto 0 auto;
}

#icones {
    display: none;
}

input {
    border: none;
}

#caloriasFullPage #formularioCalorias,
#imcCel {
    background-color: #FF914D;
    width: 50%;
    margin: 4rem auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #333;
    border-radius: 8px;
    font-size: 16px;
    text-align: left;
    background-image: url("../images/bg01.png");
}

#imcCel {
    margin: 8rem auto;
}

#imcCel form #botaoImc {
    color: #FFF;
    padding: .5rem;
    border-radius: 4px;
    border: none;
    margin-top: 1rem;
    font-weight: 700;
    background-color: #228B22;
}

#caloriasFullPage #formularioCalorias label,
#imcCel form div label {
    color: #FFF;
    margin-top: .5rem;
}

#e-bookGratis {
    position: relative;
}

#e-bookGratis a {
    position: absolute;
    top: 355px;
    left: 20px;
}

#politicasDePrivacidade h1,
#termosDeUso h1 {
    font-size: 2.5rem;
    color: red;
    font-weight: 500;
    text-align: center;
    margin: 1rem 0;
}

#termosDeUso h1 {
    color: black;
}

#secaoAgradecimentoContato h1 {
    font-size: 2.5rem;
    line-height: 50px;
    margin: 2rem 0;
}

.rodapeTituloCel {
    display: none;
}

.e-booksTitulo h2 {
    color: #FFF;
    font-size: 3rem;
    margin: 1rem 0;
}

#e-books p {
    margin: 2rem 0 0 0;
    font-size: 2rem;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 35px;
}


@media screen and (min-width: 737px) {}

/* Tablet */
@media screen and (min-width: 737px) and (max-width: 1200px) {

    #content .inner:first-child {
        width: 730px;
    }

    #cabecalho div img {
        width: 48px;
        height: 48px;
    }

    #cabecalho {
        display: flex;
        justify-content: space-between;
        background-color: #228B22;
        height: 70px;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    #cabecalho div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        margin: 0;
    }

    #cabecalhoIcones .imprimir {
        display: none;
    }

    #cabecalhoIcones .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-decoration: none;
    }

    #calorias {
        display: none;
    }

    #icones {
        display: flex;
        gap: 1rem;
        color: #FFF;
        margin-bottom: 1rem;
        justify-content: center;
        cursor: pointer;
        border-bottom: 1px solid #FFF;
    }

    #icones a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }

    #icones a i {
        font-size: 20px;
    }

    #titleBar .title {
        background-color: #228B22;
    }

    #titleBar .toggle:before {
        background-color: #FF914D !important;
    }

    iframe {
        width: 100%;
    }

    #todasReceitas {
        width: 100px;
        height: 30px;
        background-color: #228B22;
        color: #FFF;
        font-weight: 700;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: .7rem;
        text-decoration: none;
    }

    #mediterranea h1,
    #e-bookGratis h2,
    #e-bookPago h2 {
        font-size: 3rem;
        font-weight: 700;
        color: black;
        margin: 2rem 0;
    }

    #e-bookGratis h2,
    #e-bookPago h2 {
        margin: 0 0 1rem 0;
        line-height: 40px;
    }

    #mediterranea p {
        margin: 0 1rem;
    }

    .box.post {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    #e-bookGratis div,
    .e-booksCapas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #e-bookGratis div img,
    .e-booksCapas img {
        width: 200px;
        height: 250px;
        margin: 1rem 0;
    }

    .botaoBaixarGratis,
    .botaoBaixarPago {
        display: block;
        width: 80%;
        margin: 2rem auto;
        background-color: #FF914D;
        background-image: url(../images/bg01.png);
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
    }

    #acao {
        height: 100vh;
        width: 100%;
        margin-bottom: 2rem;
    }

    #acao h1 {
        font-size: 2rem;
    }

    #acao iframe {
        width: 100%;

    }

    .imgDesktop {
        display: none;
    }

    #autora {        
        text-align: center;
        margin-top: 5rem;
    }

    #autora p {
        margin: 1rem 0 0 0;
        font-size: 2rem;
        line-height: 40px;
    }

    #autora h2 {
        line-height: 50px;
    }    
    
    #botaoAcao {
        width: 100%;
    }

    #vendas {
        font-size: 1rem;
        margin: 0;
        height: auto;
    }

    .bonusConteiner {
        flex-direction: column;
    }  

    .imgDesktop {
        display: block;
        height: 400px !important;
    }   

    #oferta .ofertaTitulo {
        width: 260px;
        height: 65px;
        left: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #e-books {
        margin-bottom: 1rem;
    }

    #protegida {
        width: 310px;
        text-align: center;
        position: absolute;
        right: 36px;
    }

    .e-booksTitulo {
        margin-top: 1rem;
        flex-direction: column;
    }

    #e-bookGratis h1 {
        line-height: 40px;
        margin: 0;
    }

    #formulario form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    #formulario form label input {
        width: 100%;
    }

    #formulario button,
    .baixarBotao {
        margin: .5rem 0 1rem 0;
        padding: 0;
        font-size: 1.5rem;
        height: 50px;
    }

    #agradecimento {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #agradecimento h1 {
        line-height: 40px;
    }

    .capaIpad {
        display: block;
    }    

    #e-books .bonusConteiner {
        margin: 1rem 0 0 0;
    }  

    .ofertaTitulo {
        left: 228px;
    }

    #protegida {
        margin-right: 11rem;
    }

    #novasDietasInfos h1 {
        line-height: 40px;
    }

    #caloriasFullPage #formularioCalorias {
        display: flex;
        flex-direction: column;
    }

    #botaoAcao {
        width: 50%;
    }

    .e-booksCapas {
        flex-direction: row;
    }

    #formulario #e-bookGratisFormulario {
        align-items: center;
    }
}

@media screen and (min-width: 737px) and (max-width: 1000px) {}

@media screen and (max-width: 736px) {
    .inner {
        width: auto;
    }
}

@media screen and (min-width: 737px) {}

/* Laptop */
@media screen and (min-width: 1202px) and (max-width: 1460px) {  
    #mediterranea h4 {
        font-size: 22px;
    }

    #sidebar a, #sidebar h2{
        font-size: 1.2rem;
        text-decoration: none;
    }
    
    div#icones {
        border: none;
    }
    
    #nav li a {
        font-size: 1.2rem;
    }
    
    div#sidebar {
        width: 20rem;
    }
    
    html body p {
        font-size: 22px;     
    }

    .col-12 h2 {
        font-size: 2rem;
    }
    
    #garantia img {
        height: 350px;
    }
    
    
    
    #calorias form, #caloriasFullPage #formularioCalorias {
        display: none;
    }
    
    #icones {
        display: flex;
        gap: 1rem;
        color: #FFF;
        margin: 1rem 0;
        justify-content: space-around;
        cursor: pointer;
        border-bottom: 1px solid #FFF;
    }

    #icones a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        color: #FFF;
    }

    #vendas #acao p {
        margin: 2rem auto;
    }

    #formularioNovasDietas #formularioContrucao button {
        width: 200px;
    }


}

/* Wide - Larga*/
@media screen and (min-width: 1201px) {

    #cabecalho {
        display: flex;
        justify-content: space-between;
        background-color: #228B22;
        height: 70px;
        margin-bottom: .5rem;
        padding: 1rem;
    }

    #cabecalho div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        margin: 0;
    }

    #cabecalho div img {
        width: 48px;
        height: 48px;
    }

    #cabecalhoIcones {
        display: flex;
        gap: 1rem;
    }

    .imprimir,
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
    }

    #video a {
        color: black;
    }

    #e-bookGratis h2,
    #e-bookPago h2,
    #tituloPagina {
        font-size: 3rem;
        margin: 2rem 0 3rem 0;
        color: black;
        text-decoration: none;
        font-size: 3rem;
        font-weight: 700;
    }

    #e-bookGratis div {
        display: flex;
        gap: 3rem;

    }

    #e-bookGratis div img {
        width: 300px;
        height: 300px;
    }

    #e-bookPago {
        width: 100%;
    }

    .botaoBaixarPago,
    .botaoBaixarGratis {
        display: block;
        width: 50%;
        margin: 2rem auto;
        background-color: #FF914D;
        background-image: url(../images/bg01.png);
        padding: 1rem;
        font-size: 2.5rem;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
    }

    .botaoBaixarGratis {
        width: 200px;
        font-size: 1.5rem;
        margin: 2rem 0;
    }

    .e-booksCapas {
        display: flex;
        gap: 2rem;
        margin: 2rem auto;
    }

    .e-booksCapas img {
        width: 250px;
        height: 300px;
    }

    #navReceitas {
        display: flex;
        margin-top: 2rem;
        gap: 2rem;
    }

    #navReceitas button {
        width: 150px;
        height: 40px;
        background-color: #228B22;
        color: #FFF;
        font-weight: 700;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #todasReceitas {
        background-color: #228B22;
        color: #FFF;
        font-weight: 700;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 1rem;
        text-decoration: none;
    }


    .paginasBotoes {
        display: flex;
        gap: 1rem;
        margin: 0 30%;
        align-items: center;
        justify-content: center;
    }

    .paginasTitulo {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
    }

    #caloriasFullPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5rem;
    }

    #caloriasFullPage #formularioCalorias {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-radius: 8px;
    }

    .imprimir {
        display: none;
    }

    #calorias form,
    #caloriasFullPage #formularioCalorias {
        background-color: #FF914D;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px #333;
        color: #333;
        font-size: 16px;
        text-align: left;
        background-image: url("../images/bg01.png");
        
    }

    #caloriasFullPage #formularioCalorias select {
        width: 100%;
        border: none;
    }

    #calorias form input[type="submit"],
    #imc form input[type="button"],
    #caloriasFullPage #formularioCalorias input[type="submit"] {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #228b22;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        width: 182px;
        height: 50px;
        margin-top: 1rem;
        border: none;
    }

    #imc,
    #calorias {
        margin-top: .5rem;

    }

    #calorias label,
    #caloriasFullPage #formularioCalorias label {
        color: #FFF;
    }

    #calorias input {
        border: none;
    }

    #calorias h2,
    #imc h2 {
        margin-bottom: .5rem;
        margin-left: .5rem;
    }

    #mediterranea h1 {
        margin-bottom: 2rem;
    }          

}

/* Narrow / Estreita */
@media screen and (min-width: 737px) and (max-width: 1200px) {
    .box.post .col-12 h2 {
        color: black;
    }

    #formularioContrucao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formularioNovasDietas button {
        width: 250px;
    }

    #novasDietasInfos p {
        text-align: left;
    }

    #sidebar #icones {
        margin: .7rem 0 .15rem 0;
        border: none;
    }

    #sidebar #icones a {
        color: #FFF;
        text-decoration: none;
    }

    #calorias form,
    #caloriasFullPage #formularioCalorias,
    #imcCel {
        background-color: #FF914D;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px #333;
        color: #333;
        font-size: 16px;
        text-align: left;
        background-image: url("../images/bg01.png");
    }

    #caloriasFullPage #formularioCalorias select {
        width: 100%;
        border: none;
    }

    #calorias form input[type="submit"],
    #imcCel form div input[type="button"],
    #caloriasFullPage #formularioCalorias input[type="submit"],
    #imcCel form button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #228b22;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        width: 100%;
        height: 50px;
        margin-top: 1rem;
        border: none;
    }

    #imcCel,
    #calorias {
        margin-top: .5rem;

    }

    #caloriasFullPage #formularioCalorias input {
        border: none;
    }

    #calorias label,
    #caloriasFullPage #formularioCalorias label,
    #imcCel form div label {
        color: #FFF;
    }

    #calorias input {
        border: none;
    }

    #calorias h2,
    #imcCel h2 {
        margin-bottom: .5rem;
        margin-left: .5rem;
    }

    #imcCel {
        width: 50%;
        margin-left: 20%;
        margin-top: 8rem;
    }

    #imcCel form div input {
        width: 100%;
        border: none;
    }

    #e-bookGratis a {
        position: static;
        margin-bottom: 2rem;
    }

    #e-bookGratis a,
    #e-bookPago a {
        width: 50%;
    }

    #formularioContrucao label input {
        width: 400px;
    }

    #formularioContrucao button {
        width: 200px;
        margin-top: 1rem;
    }


}

/* Narrower / Mais Estrito */
@media screen and (min-width: 737px) and (max-width: 1000px) {}

/* Mobile */
@media screen and (max-width: 736px) {
    #e-bookGratis a.botaoBaixarGratis {
        margin-top: 1rem;
    }

    .inner {
        width: auto !important;
    }

    #formularioNovasDietas {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #formularioNovasDietas label input {
        min-width: 250px;
    }

    #novasDietasInfos h1 {
        font-size: 2rem;
    }

    #cabecalho div img {
        width: 48px;
        height: 48px;
    }

    #cabecalho {
        display: flex;
        justify-content: space-between;
        background-color: #228B22;
        height: 70px;
        margin-bottom: .5rem;
        padding: 1rem;
    }

    #cabecalho div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFF;
        margin: 0;
    }

    #cabecalhoIcones .imprimir {
        display: none;
    }

    #cabecalhoIcones .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-decoration: none;
    }

    #calorias {
        display: none;
    }

    #icones {
        display: flex;
        gap: 1rem;
        color: #FFF;
        margin: 1rem 0;
        justify-content: space-around;
        cursor: pointer;
        border-bottom: 1px solid #FFF;
    }

    #icones a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        color: #FFF;
    }

    #titleBar .title {
        background-color: #228B22;
    }

    #titleBar .toggle:before {
        background-color: #FF914D !important;
    }

    iframe {
        width: 100%;
    }

    #todasReceitas {
        width: 100px;
        height: 30px;
        background-color: #228B22;
        color: #FFF;
        font-weight: 700;
        font-size: 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: .7rem;
        text-decoration: none;
    }

    #mediterranea h1,
    #e-bookGratis h2,
    #e-bookPago h2 {
        font-size: 2rem;
        font-weight: 700;
        color: black;
        margin: 0 0 .7rem 1rem;
        line-height: 30px;
    }

    #e-bookGratis h2,
    #e-bookPago h2 {
        line-height: 40px;
        text-align: center;
    }

    #mediterranea p {
        margin: 0 1rem;
    }

    .box.post {
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    #e-bookGratis div,
    .e-booksCapas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #e-bookGratis div img,
    .e-booksCapas img {
        width: 200px;
        height: 250px;
    }

    .botaoBaixarGratis,
    .botaoBaixarPago {
        display: block;
        width: 80%;
        margin: 0 auto;
        background-color: #FF914D;
        background-image: url(../images/bg01.png);
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        color: #FFF;
        text-decoration: none;
    }

    #acao h1 {
        font-size: 2rem;
    }

    #acao iframe {
        width: 100%;

    }

    .imgDesktop {
        display: none;
    }

    #autora {
        height: auto;
        text-align: center;
    }

    #autora h2 {
        line-height: 50px;
    }

    #botaoAcao {
        width: 100%;
    }

    #vendas {
        font-size: 1rem !important;
    }

    .bonusConteiner {
        flex-direction: column;
    }

    #vendas .bonus {
        width: 95%;
    }

    .e-booksTitulo {
        text-align: center;
    }       

    #vantagensCel {        
        flex-direction: column;       
    }

    #vantagens img {
        width: 70%;       
    }

    #vantagens {
        padding: 1rem;
    }

    #oferta .ofertaTitulo {
        width: 260px;
        height: 70px;
        left: 6.5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #protegida {
        width: 94%;
        text-align: center;
        position: absolute;
        right: 12px;
    }

    .e-booksTitulo {
        margin-top: 3rem;
        flex-direction: column;
    }

    #e-bookGratis h1 {
        line-height: 40px;
        margin: 0;
    }

    #agradecimento {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #agradecimento h1 {
        line-height: 40px;
    }


    #calorias {
        display: block;
    }


    #caloriasFullPage form label {
        display: flex;
        flex-direction: column;
    }

    #calorias form input {
        width: 100%;
        border-radius: 4px;
    }

    #calorias form {
        display: none;
    }

    #caloriasFullPage #formularioCalorias,
    #imc {
        display: block;
    }

    #caloriasFullPage #formularioCalorias input,
    #imcCel form div input {
        border: none;
        border-radius: 4px;
        width: 100%;
    }

    #caloriasFullPage #formularioCalorias .caloriasEnviar {
        background-color: #228B22;
        margin-top: 2rem;
    }

    .title {
        text-decoration: underline;
    }

    #imc {
        display: none;
    }

    #novasDietasInfos h1 {
        line-height: 40px;
        text-align: center;
    }

    #novasDietasInfos form label {
        width: 100%;
    }

    #formularioNovasDietas #formularioContrucao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formularioNovasDietas #formularioContrucao button {
        padding: 1rem;
    }

    .indexPostImagem {
        height: 250px;
    }
}

/* Off-Canvas Sidebar / Barra lateral fora da tela*/
@media screen and (max-width: 1000px) {}